.patient-info-dashboard {
  padding: 20px;
  background-color: #f7f9fa;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
  overflow-y: auto;
}

.patient-info-dashboard h2 {
  margin-bottom: 20px;
}

.patient-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.patient {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.patient p {
  margin: 5px 10px;
  line-height: 1.5;
}

.patient button {
  width: auto; 
  padding: 10px 15px; 
  margin-left: auto;
  background-color: #49a1db;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.patient button:hover {
  background-color: #6db7e2;
}
